.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  transition: all 0.25s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 20px;
    height: 20px;
  }
  path {
    stroke: #000;
  }
  &.open {
    transform: rotate(-180deg);
  }
}

.container {
  display: grid;
  gap: 15px;
}

.main {
  display: grid;
  gap: 24px;
}

@media (max-width: 768px) {
  .container {
    gap: 10px;
  }
}
