.container {
  position: sticky;
  top: 0;
  z-index: 200;
  background: #fff;
}

.menu {
  border-top: 1px solid #d8d8d8;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 200;
  &.openMenu {
    z-index: 400;
  }
}

.item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 5px;
}

.active {
  path {
    stroke: #5bb75f;
  }
}
