.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  min-height: 40px;
}

.selected {
  cursor: pointer;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in;
  color: #808080;
  cursor: pointer;
  padding: 10px 0;
  width: max-content;
  margin: 20px auto 0;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
  path {
    stroke: #808080;
  }
  &:hover {
    color: #5bb75f;
    path {
      stroke: #5bb75f;
    }
  }
  svg {
    width: 24px;
    height: 24px;
  }
}

.deleteSelected {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  color: #5bb75f;
  padding: 5px 0 !important;
  transition: none;
  background: transparent;
  path {
    stroke: #5bb75f;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-grow: 1;
    height: auto;
  }
  .top {
    text-align: center;
    position: relative;
    padding: 9px 60px;
    margin-bottom: 25px;
  }
  .info {
    margin-bottom: 10px;
  }
  .main {
    max-height: calc(var(--app-height) - 127px);
    overflow-y: auto;
    padding-bottom: 20px;
    width: calc(100% + 10px);
    padding-right: 10px;
  }
}
