.container {
  padding: 40px 0 80px;
  min-height: 100vh;
  @media (min-width: 769px) {
    padding-top: 120px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  gap: 20px;
  margin-top: 40px;
}

.left {
  max-width: 325px;
  width: 100%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  // height: 100%;
}

.menu:not(.short) {
  flex-grow: 1;
}

.banner {
  margin-top: 20px;
}

.main {
  width: 100%;
}

.info {
  max-width: 325px;
  width: 100%;
}

@media (max-width: 1300px) {
  .content {
    flex-wrap: wrap;
    gap: 20px;
  }
  .info {
    width: 100%;
    order: -1;
    max-width: none;
  }
  .main {
    width: calc(100% - 345px);
  }
}

@media (max-width: 998px) {
  .content {
    gap: 10px;
  }
  .left {
    max-width: 240px;
  }
  .main {
    width: calc(100% - 250px);
  }
}
@media (max-width: 768px) {
  .container {
    padding: 20px 20px 20px;
    display: flex;
  }
}
