.container {
  padding: 40px 0 80px;
  @media (min-width: 769px) {
    padding-top: 120px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;
}

.menu {
  max-width: 325px;
  width: 100%;
  margin-right: auto;
}

.main {
  width: 100%;
}

.info {
  max-width: 325px;
  width: 100%;
}
