.block {
  border-radius: 20px;
  border: 1px solid #d8d8d8;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px 7px 15px;
  width: 100%;
  cursor: pointer;
  transition: all 0.25s ease-in;
  p {
    min-width: 125px;
    flex-grow: 1;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  transition: all 0.25s ease-in;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.active {
  border-color: #38953c;
  .arrow {
    transform: rotate(-180deg);
  }
}
