.title {
  margin-bottom: 20px;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 160px;
  position: relative;
  max-width: 560px;
  width: 100%;
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    left: calc(50% - 0.5px);
    top: 10px;
    height: calc(100% - 20px);
    background: #d8d8d8;
  }
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 1200px) {
  .items {
    gap: 30px 50px;
    &:after {
      left: calc(50% - 25px);
    }
  }
  .item {
    padding-right: 5px;
  }
}

@media (max-width: 998px) {
  .items {
    max-width: none;
    gap: 30px 100px;
    &:after {
      left: calc(50% - 1px);
    }
  }
}
