.container {
  display: grid;
  gap: 15px;
}

.isModal {
  background: #fff;
  max-width: none;
  padding: 40px;
  border-radius: 25px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  max-width: 280px;
  margin: 0 auto;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 40px;
    height: 40px;
  }
}

.item {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: none;
  }

  .isModal {
    border-radius: 15px 15px 0 0;
    padding: 20px 20px;
    // .socials {
    //   max-width: 315px;
    // }
    // .item {
    //   max-width: 315px;
    // }
  }

  .socials {
    gap: 0;
    // max-width: none;
    max-width: 315px;
  }
  .item {
    // max-width: none;
    max-width: 315px;
  }
  .social {
    svg {
      width: 100%;
      height: auto;
    }
  }
}
