.blocks {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.block {
  width: calc(25% - 15px);
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.25s ease-in;
  color: #808080;
  margin-top: 50px;
  white-space: nowrap;
  gap: 5px;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in;
    margin-left: 3px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  span {
    text-transform: lowercase;
  }
  .open {
    transform: rotate(-180deg);
  }
  &:hover {
    color: #5bb75f;
    path {
      stroke: #5bb75f;
    }
  }
  @media (max-width: 768px) {
    margin-top: 25px;
  }
}

@media (max-width: 998px) {
  .block {
    width: calc(33.333% - 13.5px);
  }
}
@media (max-width: 768px) {
  .block {
    width: calc(50% - 10px);
  }
}
@media (max-width: 550px) {
  .block {
    width: 100%;
  }
}
