.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.categories {
  border-radius: 30px;
  border: 1px solid #d8d8d8;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.category {
  width: 100%;
  border-radius: 30px;
  background: transparent;
  padding: 8px 12px;
  text-align: center;
  color: #808080;
  transition: all 0.25s ease-in;
  cursor: pointer;
  &:hover {
    color: #5bb75f;
  }
  &.active {
    background: #5bb75f;
    color: #fff;
  }
}
.block {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  min-height: 40px;
}

.selected {
  cursor: pointer;
  margin-right: 20px;
}

.filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.filterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 30px;
  transition: all 0.25s ease-in;
  path {
    stroke: #808080;
  }
  &:hover {
    box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
  }
  &.active {
    background: #ebfaec;
    border-color: #ebfaec;
    path {
      stroke: #000;
    }
  }
}

.sort {
  max-width: 164px;
  min-width: 164px;
  display: flex;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in;
  color: #808080;
  cursor: pointer;
  padding: 10px 0;
  width: max-content;
  margin: 20px auto 0;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
  path {
    stroke: #808080;
  }
  &:hover {
    color: #5bb75f;
    path {
      stroke: #5bb75f;
    }
  }
}

.deleteSelected {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  color: #5bb75f;
  padding: 5px 0 !important;
  transition: none;
  background: transparent;
  path {
    stroke: #5bb75f;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .container {
    flex-grow: 1;
    height: auto;
  }
  .top {
    text-align: center;
    position: relative;
    padding: 4px 60px;
    margin-bottom: 30px;
  }
  .info {
    margin-bottom: 10px;
  }
  .main {
    gap: 10px;
  }
  .categories {
    flex-direction: column;
    border: none;
    border-radius: 0;
  }
  .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border: none;
    border-bottom: 1px solid #f5f5f7;
    border-radius: 0;
    .arrow {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-90deg);
      path {
        stroke: #000;
      }
    }
  }
}
