@import "../Login/login.module.scss";

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 18px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  margin-bottom: 25px;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
  }
}

.button {
  svg {
    transform: rotate(-90deg);
  }
}

.social:not(:nth-child(2)) {
  max-width: 107px;
}

.social:nth-child(2) {
  max-width: 170px;
  flex-grow: 1;
}
