.banner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 90px;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: none;
    height: 100%;
  }
}

@media (max-width: 998px) {
  .container {
    padding: 25px 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 0 25px;
  }
}
