.container {
  border-radius: 15px;
  background: #000;
  padding: 30px;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.image {
  position: absolute;
  bottom: -30px;
  right: -91px;
  width: 264px;
}

.title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1px;
}

.text {
  margin-top: 10px;
  max-width: 135px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.button {
  margin-top: 142px;
}
@media (max-width: 1300px) {
  .container {
    width: calc(100% - 345px);
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .title {
    br {
      display: none;
    }
  }

  .button {
    margin-top: auto;
  }

  .text {
    max-width: 254px;
    margin-bottom: 25px;
  }

  .image {
    bottom: -82px;
    right: 15px;
  }
}

@media (max-width: 998px) {
  .container {
    width: calc(100% - 250px);
  }
  .image {
    width: 224px;
  }
}
