.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // max-width: 630px;
  width: calc(100% - 40px);
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 100px;
  background: #fff;
  padding: 12px;
  z-index: 20;
  gap: 10px;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #000;
  margin-right: auto;
}

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  img {
    border-radius: 50%;
    height: 100%;
  }
}

// .button {
//   margin-left: 20px;
// }

@media (max-width: 768px) {
  .container {
    padding: 8px;
    top: 12px;
  }
  .title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
  }
}
