@import "../steps.module.scss";

.radios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .radios {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
