.container {
  overflow: hidden;
}

.slider {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.controllers {
  position: absolute;
  right: 60px;
  bottom: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 20;
}

.navigation {
  margin-left: 20px;
}
