.content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.left {
  max-width: 785px;
  width: 100%;
  width: calc(100% - 575px);
}

.right {
  max-width: 535px;
  width: 100%;
}
