.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  margin-top: -12px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.left {
  max-width: 785px;
  width: 100%;
  width: calc(100% - 575px);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right {
  max-width: 535px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  border: 1px solid var(--neutrals-stroke-gray, #d8d8d8);
  padding: 7px 14px;
  width: max-content;
  cursor: pointer;
  transition: all 0.25s ease-in;
  svg {
    width: 24px;
    height: 24px;
  }
  path {
    stroke: #000;
  }
  &:hover {
    box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

@media (max-width: 1200px) {
  .container {
    gap: 20px;
  }
  .content {
    gap: 20px;
  }
  .left {
    width: calc(100% - 500px);
  }
  .right {
    max-width: 480px;
  }
}

@media (max-width: 998px) {
  .content {
    gap: 20px;
    flex-direction: column;
  }
  .left {
    width: 100%;
    max-width: none;
  }
  .right {
    max-width: none;
  }
}

@media (max-width: 768px) {
  .back {
    width: 40px;
    height: 40px;
    justify-content: center;
    padding: 5px;
    border: none;
    border-radius: 30px;
    background: var(--neutrals-white, #fff);
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 10;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
