.default-pagination.swiper-pagination-bullets {
  position: absolute;
  top: auto;
  bottom: 25px;
  right: 25px;
  z-index: 10;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.2);
  width: max-content;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  .swiper-pagination-bullet {
    display: flex;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    border: 1px solid #fff;
    opacity: 0.5;
    border-radius: 50%;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #ffffff;
  }
}
