@import "./reset.css";
@import "./_var.scss";

body {
  background: #ffffff;
  font-family: "Golos Text", sans-serif;
  position: relative;
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  letter-spacing: -0.3px;
}

.hidden {
  overflow: hidden;
}

a {
  transition: all 0.25s ease-in;
  text-decoration: none;
}

h2 {
  font-size: 42px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -1px;
  color: #000;
}

h3 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.3px;
}

section {
  padding: 40px 0;
}

svg {
  transition: all 0.25s ease-in;
}

path {
  transition: all 0.25s ease-in;
}
.wrapper {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.default-button {
  display: inline-block;
  padding: 18px 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background: #5bb75f;
  border-radius: 30px;
  &:hover {
    box-shadow: 10px 10px 20px 0px rgba(51, 140, 55, 0.45);
  }
  &.sm {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 20px;
  }
  &.disabled {
    background: #ebfaec;
    color: #d8d8d8;
  }
}

.title {
  text-align: center;
}

.tag {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.3px;
  padding: 6px 10px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease-in;
  &:hover {
    background: #5bb75f;
    border-color: #5bb75f;
    color: #ffffff;
    box-shadow: 10px 10px 20px 0px rgba(51, 140, 55, 0.45);
  }
}

@import "./_select.scss";
@import "./_slider.scss";
