@import "./reset.css";
@import "./_var.scss";

body {
  background: #ffffff;
  font-family: "Golos Text", sans-serif;
  position: relative;
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  letter-spacing: -0.3px;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #d8d8d8;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

.hidden {
  overflow: hidden;
}

a {
  transition: all 0.25s ease-in;
  text-decoration: none;
  color: #808080;
}

h1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -1px;
  color: #000;
  text-align: center;
}

h2 {
  font-size: 42px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -1px;
  color: #000;
}

h3 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.3px;
}

section {
  padding: 40px 0;
  @media (max-width: 768px) {
    padding: 0 0 25px;
  }
}

svg {
  transition: all 0.25s ease-in;
}

path {
  transition: all 0.25s ease-in;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.wrapper {
  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.default-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 18px 30px;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background: #5bb75f;
  border-radius: 30px;
  transition: all 0.25s ease-in;
  white-space: nowrap;
  @media (max-width: 768px) {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.3px;
  }
  @media (min-width: 769px) {
    &:hover {
      box-shadow: 10px 10px 20px 0px rgba(51, 140, 55, 0.45);
      box-shadow: 0px 10px 20px 0px rgba(51, 140, 55, 0.45);
    }
  }

  &.sm {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 20px;
    &.border {
      padding: 9px 29px;
    }
    .icon {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &.disabled {
    background: #ebfaec;
    color: #d8d8d8;
  }
  &.white {
    background: #fff;
    color: #000;
    @media (min-width: 769px) {
      &:hover {
        box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
      }
    }
  }
  &.red {
    background: #ff5a27;
    @media (min-width: 769px) {
      &:hover {
        box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
      }
    }
  }
  &.border {
    background: #fff;
    background: transparent;
    color: #000;
    border: 1px solid #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 29px;
    @media (min-width: 769px) {
      &:hover {
        box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
      }
    }
    @media (max-width: 768px) {
      padding: 9px 29px;
    }
    &.onlyIcon {
      padding: 9px;
    }
  }
  &.onlyIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    padding: 10px;
    path {
      stroke: #fff;
    }
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    svg {
      width: 24px;
      height: 24px;
      @media (max-width: 768px) {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 40px;
  @media (max-width: 768px) {
    text-align: left;
    margin-bottom: 15px;
  }
}

.tag {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.3px;
  padding: 5px 10px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease-in;
  cursor: pointer;
  &:hover {
    background: #5bb75f;
    border-color: #5bb75f;
    color: #ffffff;
    box-shadow: 10px 10px 20px 0px rgba(51, 140, 55, 0.45);
    box-shadow: 0 10px 20px 0px rgba(51, 140, 55, 0.45);
  }
  @media (max-width: 768px) {
    padding: 2px 8px;
    font-size: 14px;
    line-height: 20px;
  }
}

.default-input {
  width: 100%;
  border-radius: 100px;
  border: 1px solid #d8d8d8;
  padding: 17px 17px 17px 49px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  background-position: 18px 17px;
  background-repeat: no-repeat;
  transition: all 0.25s ease-in;
  &.sm {
    padding: 7px 9px 7px 46px;
    padding: 6px 8px 6px 45px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.3px;
    background-position: 15px 8px;
    &.withoutIcon {
      padding: 7px 14px 7px 14px;
      padding: 6px 14px 6px 14px;
    }
  }
  &.withoutIcon {
    padding: 17px 17px 17px 17px;
  }
  @media (min-width: 769px) {
    &:hover {
      box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
      border-color: transparent;
    }
  }
  &:not(:placeholder-shown) {
    border-color: black;
  }
  &:focus {
    border-color: #38953c;
  }

  &.search {
    background-size: 24px 24px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjk1NTUgNS4xNTU3NUMxNi4zODU1IDcuNTg1NzUgMTYuMzg1NSAxMS41MjU4IDEzLjk1NTUgMTMuOTU1OEMxMS41MjU1IDE2LjM4NTggNy41ODU1MSAxNi4zODU4IDUuMTU1NTEgMTMuOTU1OEMyLjcyNTUxIDExLjUyNTggMi43MjU1MSA3LjU4NTc1IDUuMTU1NTEgNS4xNTU3NUM3LjU4NTUxIDIuNzI1NzUgMTEuNTI1NSAyLjcyNTc1IDEzLjk1NTUgNS4xNTU3NSIgc3Ryb2tlPSIjODA4MDgwIiBzdHJva2Utd2lkdGg9IjEuMTUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTYuNjY2MyAxNi42NjY2TDEzLjk1OCAxMy45NTgzIiBzdHJva2U9IiM4MDgwODAiIHN0cm9rZS13aWR0aD0iMS4xNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
    &:hover,
    &:not(:placeholder-shown),
    &:focus {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjk1NTUgNS4xNTU3NUMxNi4zODU1IDcuNTg1NzUgMTYuMzg1NSAxMS41MjU4IDEzLjk1NTUgMTMuOTU1OEMxMS41MjU1IDE2LjM4NTggNy41ODU1MSAxNi4zODU4IDUuMTU1NTEgMTMuOTU1OEMyLjcyNTUxIDExLjUyNTggMi43MjU1MSA3LjU4NTc1IDUuMTU1NTEgNS4xNTU3NUM3LjU4NTUxIDIuNzI1NzUgMTEuNTI1NSAyLjcyNTc1IDEzLjk1NTUgNS4xNTU3NSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjEuMTUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTYuNjY2MyAxNi42NjY2TDEzLjk1OCAxMy45NTgzIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMS4xNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
    }
  }
  @media (max-width: 768px) {
    padding: 9px 14px 9px 47px;
    background-position: 14px 7px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
  }
}

@media (max-width: 768px) {
  h2,
  h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
  }
}
@media (max-width: 370px) {
  h2,
  h1 {
    font-size: 20px;
    line-height: 25px;
  }
  h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .wrapper {
    padding: 0 10px;
  }
}

.serverError {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background: #5bb75f;
  box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
  padding: 10px 15px;
  color: #fff;
  max-width: 453px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  &.error {
    background: #ff5a27;
    &:before {
      content: "😢";
    }
  }
  &.warning {
    background: #ffefe0;
    color: #000;
    &:before {
      content: "⚠️";
    }
  }
  &:before {
    content: "👋";
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-right: 10px;
  }
  @media (max-width: 768px) {
    top: 5px;
    transform: translateX(-50%);
  }
}

.back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.25s ease-in;
  width: max-content;
  .arrow {
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg {
    width: 24px;
    height: 24px;
    path {
      stroke: #000;
    }
  }
  &:hover {
    color: #5bb75f;
    path {
      stroke: #5bb75f;
    }
  }
}

.cancel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

input {
  font-family: "Golos Text", sans-serif;
  &::placeholder {
    font-family: "Golos Text", sans-serif;
  }
}

textarea {
  font-family: "Golos Text", sans-serif;
  &::placeholder {
    font-family: "Golos Text", sans-serif;
  }
}

.link {
  transition: all 0.25s ease-in;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }
  svg {
    width: 20px;
    height: 20px;
  }
  path {
    stroke: #000;
  }
  &:hover {
    color: #5bb75f;
    path {
      stroke: #5bb75f;
    }
  }
}

@import "./_select.scss";
@import "./_slider.scss";
@import "./_modal.scss";
@import "./_ant-design.scss";
@import "./_map.scss";
