@import "./reset.css";
@import "./_var.scss";

body {
  background: #ffffff;
  font-family: "Golos Text", sans-serif;
  position: relative;
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  letter-spacing: -0.3px;
}

.hidden {
  overflow: hidden;
}

a {
  transition: all 0.25s ease-in;
  text-decoration: none;
  color: #808080;
}

h2 {
  font-size: 42px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -1px;
  color: #000;
}

h3 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.3px;
}

section {
  padding: 40px 0;
  @media (max-width: 768px) {
    padding: 0 0 25px;
  }
}

svg {
  transition: all 0.25s ease-in;
}

path {
  transition: all 0.25s ease-in;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.wrapper {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.default-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 18px 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background: #5bb75f;
  border-radius: 30px;
  transition: all 0.25s ease-in;
  white-space: nowrap;
  @media (max-width: 768px) {
    padding: 10px 30px;
  }
  @media (min-width: 769px) {
    &:hover {
      box-shadow: 10px 10px 20px 0px rgba(51, 140, 55, 0.45);
    }
  }

  &.sm {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 20px;
    &.border {
      padding: 9px 29px;
    }
  }
  &.disabled {
    background: #ebfaec;
    color: #d8d8d8;
  }
  &.white {
    background: #fff;
    color: #000;
    @media (min-width: 769px) {
      &:hover {
        box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
      }
    }
  }
  &.border {
    background: #fff;
    color: #000;
    border: 1px solid #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 769px) {
      &:hover {
        box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
      }
    }
  }
  &.onlyIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    path {
      stroke: #fff;
    }
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }
}

.title {
  text-align: center;
  margin-bottom: 40px;
  @media (max-width: 768px) {
    text-align: left;
    margin-bottom: 15px;
  }
}

.tag {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.3px;
  padding: 6px 10px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease-in;

  &:hover {
    background: #5bb75f;
    border-color: #5bb75f;
    color: #ffffff;
    box-shadow: 10px 10px 20px 0px rgba(51, 140, 55, 0.45);
  }
  @media (max-width: 768px) {
    padding: 2px 8px;
    font-size: 14px;
    line-height: 20px;
  }
}

.default-input {
  width: 100%;
  border-radius: 100px;
  border: 1px solid #d8d8d8;
  padding: 17px 17px 17px 49px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  background-position: 18px 17px;
  background-repeat: no-repeat;
  transition: all 0.25s ease-in;
  &.sm {
    padding: 7px 9px 7px 46px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.3px;
    background-position: 15px 8px;
  }
  @media (min-width: 769px) {
    &:hover {
      box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
      border-color: transparent;
    }
  }

  &:focus {
    border-color: #38953c;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
  }
}
@media (max-width: 370px) {
  h2 {
    font-size: 20px;
    line-height: 25px;
  }
  h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .wrapper {
    padding: 0 10px;
  }
}

.sendMessage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background: #5bb75f;
  box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
  padding: 10px 15px;
  color: #fff;
  max-width: 453px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  &.error {
    background: #ff5a27;
    &:before {
      content: "😢";
    }
  }
  &.warning {
    background: #ffefe0;
    color: #000;
    &:before {
      content: "⚠️";
    }
  }
  &:before {
    content: "👋";
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-right: 10px;
  }
}

@import "./_select.scss";
@import "./_slider.scss";
@import "./_modal.scss";
