.main {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 45px 80px 0px rgba(21, 40, 61, 0.15);
  overflow: hidden;
  // -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 200;
  max-width: 294px;
  min-width: 294px;
  // transition: all 0.25s ease-in;

  @media (max-width: 1500px) {
    &.searhTop {
      right: 20px;
      left: auto !important;
    }
  }
}

.account {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s ease-in;
  border-radius: 15px 15px 0 0;
  &:hover {
    // box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
    background: #f5f5f7;
  }
}

.info {
  flex-grow: 1;
}

.avatar {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  cursor: pointer;
  background: #5bb75f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in;
  margin-right: 12px;
  &.noAvatar {
    background: #f5f5f7;
  }
  svg {
    width: 24px;
    height: 24px;
  }
}

.date {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #808080;
}

.item {
  padding: 16px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  // border-radius: 15px;
  transition: all 0.25s ease-in;
  color: #000000;
  &:hover {
    background: #f5f5f7;
  }
}

.list {
  border-top: 1px solid #f5f5f7;
  border-bottom: 1px solid #f5f5f7;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  svg {
    width: 24px;
    height: 24px;
  }
}

.logout {
  color: #808080;
  border-radius: 0 0 15px 15px;
}

.arrow {
  transform: rotate(-90deg);
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 24px;
    height: 24px;
  }
  path {
    stroke: #000;
  }
}

.num {
  padding: 2px 4px;
  border-radius: 50px;
  background: #ff5a27;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  margin-left: auto;
}
