.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &.menuTop {
    max-width: 812px;
    width: 100%;
    margin: 0 auto;
  }
}

.blocks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}
