.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 812px;
  width: 100%;
  margin: 0 auto;
}

.blocks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s ease-in;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  path {
    stroke: #000;
  }
  &:hover {
    color: #5bb75f;
    path {
      stroke: #5bb75f;
    }
  }
}

@media (max-width: 768px) {
  .blocks {
    flex-direction: column;
    gap: 25px;
  }
}
