.container {
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 45px 80px 0px rgba(21, 40, 61, 0.15);
  max-width: 1130px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // overflow: hidden;
}

.block {
  max-width: 490px;
  width: 100%;
  position: relative;
  background: #e4e0f4;
  border-radius: 25px 0 0 25px;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0;
  overflow: hidden;
}

.logo {
  max-width: 80px;
  margin-bottom: 25px;
}

.girl {
  max-width: 378px;
  width: 100%;
  margin: auto auto 0;
  z-index: 2;
  position: relative;
  left: 10px;
  opacity: 0;
  animation-name: showBlockUp;
  transform: translateY(50px);
  animation-duration: 0.7s;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.bag {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 178px;
  width: 100%;
}

.card {
  position: absolute;
  left: -8px;
  bottom: 55px;
  max-width: 166px;
  width: 100%;
  z-index: 3;
  img {
    transform: rotate(-18deg);
    box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
    border-radius: 18.5px;
  }
}

.icons {
  position: absolute;
  left: -142px;
  top: 52px;
  max-width: 175px;
  width: 100%;
  box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
  border-radius: 100px;
}

.shadow {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 432px;
  width: 100%;
}

.content {
  max-width: 640px;
  width: 100%;
  padding: 69px 20px 69px;
  display: flex;
  position: relative;
}

@media (max-width: 998px) {
  .block {
    width: 40%;
  }
  .content {
    width: 60%;
  }
  .card {
    display: none;
  }
  .girl {
    width: calc(100% + 40px);
    left: -20px;
  }
}
@media (max-width: 768px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
  }

  .block {
    display: none;
  }
  .icons {
    display: none;
  }
  .content {
    margin: 0 auto;
    padding-top: 60px;
    overflow-y: auto;
    padding-bottom: 90px;
    width: 100%;
  }
}

@keyframes showBlockUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
