.block {
  border-radius: 20px;
  border: 1px solid #d8d8d8;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 10px 7px 15px;
  max-width: 165px;
  width: 100%;
  cursor: pointer;
  transition: all 0.25s ease-in;
  p {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    color: #808080;
    transition: all 0.25s ease-in;
    @media (max-width: 768px) {
      color: #808080;
    }
  }
  &:hover {
    box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.1);
    border-color: transparent;
    path {
      stroke: #000;
    }
    p {
      color: #000;
    }
  }
  &.fill {
    border-color: #000;
    path {
      stroke: #000;
    }
    p {
      color: #000;
    }
  }
  &.active {
    border-color: var(--primary-green-active, #38953c);
    path {
      stroke: #000;
    }
    p {
      color: #000;
    }
  }
}

.big {
  padding: 17px 11px 17px 17px;
  border-radius: 100px;
  max-width: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  @media (max-width: 768px) {
    padding: 7px 10px 7px 15px;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  transition: all 0.25s ease-in;
  svg {
    width: 24px;
    height: 24px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  min-width: 24px;
  width: 24px;
  svg {
    width: 100%;
  }
}

.active {
  border-color: #38953c;
  .arrow {
    transform: rotate(-180deg);
  }
}

@media (max-width: 768px) {
  .block {
    max-width: none;
  }
}
