.container {
  overflow: hidden;
}
.blocks {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.block {
  width: calc(20% - 16px);
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s ease-in;
  color: #808080;
  margin-top: 50px;
  white-space: nowrap;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in;
  }
  &.open .icon {
    transform: rotate(-180deg);
  }
  &:hover {
    color: #5bb75f;
    path {
      stroke: #5bb75f;
    }
  }
}

@media (max-width: 1100px) {
  .block {
    width: calc(25% - 16px);
  }
}

@media (max-width: 900px) {
  .block {
    width: calc(33.333% - 16px);
  }
}
@media (max-width: 768px) {
  .blocks {
    padding: 0 40px;
  }
  .container {
    padding-bottom: 0;
  }
  .swiper {
    padding-bottom: 25px;
  }
}
