.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1300px) {
  .container {
    flex-direction: row;
  }
}

@media (max-width: 998px) {
  .container {
    gap: 10px;
  }
}
