.block {
  border-radius: 25px;
  background: linear-gradient(186deg, #338c37 0%, #62c068 100%);
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 100px 0 80px 120px;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
}

.info {
  max-width: 644px;
  width: 100%;
  flex-grow: 1;
}

.title {
  color: #fff;
  font-size: 100px;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: -5px;
  flex-grow: 1;
  span {
    color: #cdffbf;
    white-space: nowrap;
  }
}

.text {
  margin-top: 20px;
  color: #cdffbf;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.image {
  max-width: 596px;
  width: 100%;
  position: relative;
  img {
    position: absolute;
    max-width: none;
    width: 166%;
    top: -330px;
    left: -170px;
    min-width: 989px;
  }
}

@media (max-width: 1200px) {
  .block {
    padding: 100px 0 80px 50px;
  }
}

@media (max-width: 998px) {
  .block {
    flex-direction: column;
  }
  .image {
    width: 65%;
    margin-left: auto;
  }
  .image img {
    top: auto;
    bottom: -310px;
    bottom: -36vw;
    left: auto;
    right: -150px;
    min-width: 0;
    width: 100%;
  }
  .text {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .block {
    padding: 40px 30px;
  }
  .title {
    font-size: 40px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -2px;
    max-width: 275px;
  }
  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    max-width: 225px;
  }
  .image {
    width: 95%;
  }
}

@media (max-width: 480px) {
  .image {
    width: 100%;
    max-width: 275px;
    img {
      bottom: -140px;
      left: auto;
      right: -158px;
      min-width: 0;
      width: 110%;
    }
  }
}
