.container {
  text-align: center;
}

.block {
  &:hover {
    .title {
      color: #5bb75f;
    }
    img {
      transform: scale(1.1);
    }
  }
}

.image {
  border-radius: 50%;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  img {
    transition: all 0.7s ease-in;
  }
}

.title {
  margin-top: 15px;
  transition: all 0.25s ease-in;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}

.item {
  color: #808080;
  &:hover {
    color: #5bb75f;
  }
}

@media (max-width: 768px) {
  .image {
    max-width: 100px;
  }
  .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.2px;
  }
}
