.tags {
  max-width: 1121px;
  width: 100%;
  margin: 0px auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

@media (max-width: 768px) {
  .tags {
    justify-content: flex-start;
  }
}
