.container {
  position: relative;
  height: 100%;
  &.green {
    .info {
      background: #ebfaec;
      border: none;
      padding: 20px 20px 28px;
    }
    .title {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.2px;
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }
  }
  &.isHorizontal {
    min-height: 250px;
    .block {
      flex-direction: row;
    }
    .image {
      max-width: 325px;
      width: 100%;
      border-radius: 25px 0 0 25px;
      padding-top: 0;
      height: 100%;
    }
    .photos {
      position: relative;
    }
    .info {
      border-radius: 0 25px 25px 0;
      border-right: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
      border-top: 1px solid #d8d8d8;
      border-left: none;
      padding: 29px;
    }
  }
}

.block {
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.25s ease-in;
  &:hover {
    box-shadow: 0 45px 40px 0 rgba(21, 40, 61, 0.1);
    @media (max-width: 768px) {
      box-shadow: 0 10px 20px 0 rgba(21, 40, 61, 0.1);
    }
  }
}

.image {
  position: relative;
  border-radius: 25px 25px 0 0;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  // max-height: 250px;
  padding-top: 56.25%;
  padding-top: 76.93%;
}

.photos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  z-index: 20;
  cursor: pointer;
  path {
    fill: rgba(#000, 0.6);
    stroke: #ffffff;
  }
  &.active {
    path {
      fill: #5bb75f;
      stroke: transparent;
    }
  }
}

.info {
  border-radius: 0px 0px 25px 25px;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  padding: 20px 30px 26px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @media (max-width: 1100px) and (min-width: 551px) {
    padding: 20px 20px 28px;
  }
  @media (max-width: 370px) {
    padding: 20px 20px 26px;
  }
}

.title {
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}

.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #808080;
  margin-top: auto;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    max-width: 18px;
    min-width: 18px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.price {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1px;
  margin-top: 20px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  .old {
    color: #ff5a27;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    text-decoration-line: line-through;
    margin-left: 4px;
  }
}

.checkbox {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 20;
}
