.container {
  border-radius: 25px;
  background: var(--neutrals-white, #fff);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  text-align: center;
  @media (min-width: 769px) {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.button {
  width: 50%;
}

@media (max-width: 768px) {
  .container {
    border-radius: 15px 15px 0 0;
    padding: 20px 20px;
    // min-height: 494px;
    textarea {
      min-height: 190px;
    }
  }
  .title {
    padding: 7px 0 8px;
  }
  .buttons {
    padding-top: 12px;
    gap: 5px;
  }
}
