.container {
  overflow: hidden;
}
.blocks {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.block {
  width: calc(20% - 16px);
}

.text {
  transition: all 0.25s ease-in;
  color: #808080;
  white-space: nowrap;
  span {
    text-transform: lowercase;
  }
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
  padding: 8px 0;
  width: max-content;
  margin: 48px auto 0;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .open {
    transform: rotate(-180deg);
  }
  @media (hover: hover) {
    &:hover {
      .text {
        color: #5bb75f;
      }
      path {
        stroke: #5bb75f;
      }
    }
  }
}

@media (max-width: 1100px) {
  .block {
    width: calc(25% - 16px);
  }
}

@media (max-width: 900px) {
  .block {
    width: calc(33.333% - 16px);
  }
}
@media (max-width: 768px) {
  // .title {
  //   text-align: center;
  // }
  .blocks {
    padding: 0 40px;
  }
  .container {
    padding-bottom: 0;
  }
  .swiper {
    padding-bottom: 25px;
  }
}
