@import "../Login/login.module.scss";

.back {
  position: static;
  transform: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-content: center;
  background: #ebfaec;
  padding: 20px;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  margin: 0px auto 20px;
}

@media (max-width: 768px) {
  .back {
    position: absolute;
    top: 22px;
    left: 20px;
  }
}

@media (max-width: 374px) {
  .back {
    left: 10px;
  }
}
