.container {
  border-radius: 15px;
  border: 1px solid #d8d8d8;
  padding: 29px 29px 29px 9px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  &.new {
    border-color: #ebfaec;
    background: #ebfaec;
  }
}

.avatar {
  max-width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  margin-left: 10px;
}

.button {
  margin-left: auto;
}

.info {
  padding-right: 15px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  span {
    color: #5bb75f;
  }
}

.date {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #808080;
  margin-top: 2px;
}

.text {
  margin-top: 2px;
}

.checkbox {
  padding: 7px;
  margin: auto 0;
}

@media (max-width: 768px) {
  .container {
    padding: 19px;
    flex-wrap: wrap;
  }
  .button {
    width: 100%;
    margin-top: 20px;
  }
  .checkbox {
    padding: 2px;
    margin: 0;
  }
  .date {
    width: calc(100% - 34px);
    text-align: right;
    margin: 0;
    padding: 4px 0;
  }
  .avatar {
    margin-left: 0;
    margin-right: 10px;
    margin-top: 20px;
  }
  .info {
    width: calc(100% - 50px);
    margin-top: 20px;
    padding-right: 0;
  }
  .text {
    margin-top: 4px;
  }
}
