.container {
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 45px 80px 0px rgba(21, 40, 61, 0.15);
  padding: 30px;
  max-width: 880px;
  width: 100%;
  margin: -50px auto 0;
  z-index: 200;
  position: sticky;
  top: -10px;
  // transition: all 0.25s ease-in;
  &.top {
    box-shadow: none;
    background: transparent;
    // padding: 30px 30px 20px;
    // .main {
    //   padding-top: 30px;
    // }
  }
  &.active {
    border-radius: 50px 50px 0 0;
    box-shadow: none;
  }
}

.blocks {
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.block {
  border-radius: 20px;
  border: 1px solid #d8d8d8;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px 7px 15px;
  width: 100%;
  cursor: pointer;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.main {
  position: absolute;
  width: 100%;
  background: #fff;
  top: 100%;
  left: 0;
  padding: 30px 30px 30px;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 105px 100px 0px rgba(21, 40, 61, 0.08);
  &:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
    bottom: 100%;
    left: 0;
    background: #fff;
  }
  // transition: all 0.1s ease-in;
}
