.container {
  overflow: hidden;
}
.blocks {
  display: flex;
  justify-content: center;
  margin: 0 -10px;
}

.block {
  padding: 30px 40px 65px 40px;
  border-radius: 25px;
  text-align: center;
  background: #e1f2ff;
  width: calc(33.333% - 20px);
  margin: 0 10px;
  &:nth-child(2) {
    background: #ffefe0;
  }
  &:nth-child(3) {
    background: #ebfaec;
  }
}

.image {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
}

.name {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.3px;
  margin-bottom: 20px;
}

.text {
  color: rgba(#000, 0.5);
}

.info {
  text-align: center;
  margin-top: 40px;
}
.button {
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .block {
    padding: 30px 30px 60px;
  }
}

@media (max-width: 998px) {
  .blocks {
    margin: 0;
  }
  .block {
    width: 100%;
    margin: 0;
  }
  .swiper {
    max-width: 440px;
    width: 100%;
    overflow: visible;
  }
}
@media (max-width: 768px) {
  .image {
    max-width: 100px;
    margin-bottom: 10px;
  }
  .name {
    margin-bottom: 15px;
  }
  .info {
    margin-top: 15px;
  }
  .button {
    margin-top: 10px;
  }
}
