.container {
  // border: 1px dashed #d8d8d8;
  min-height: 181px;
  width: calc(50% - 10px);
  cursor: pointer;
  // &:hover {
  //   border: 1px solid #d8d8d8;
  //   box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
  // }
}

.add {
  border: 1px dashed #d8d8d8;
  background: #fff;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in;
  &:hover {
    border: 1px solid #d8d8d8;
    box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
  }
}

.card {
  border: 1px dashed #d8d8d8;
  background: #fff;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 19px 20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #5bb75f;
  display: flex;
  justify-content: center;
  align-items: center;
  path {
    stroke: #5bb75f;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.button {
  width: 50%;
}

.item {
  margin-bottom: 10px;
  width: 100%;
}

.items {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form {
  width: 100%;
}

@media (max-width: 998px) and (min-width: 851px) {
  .container {
    min-height: 161px;
  }
  .card {
    padding: 9px 9px 10px;
  }
}

@media (max-width: 850px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background: #fff;
    padding: 32px 20px 40px;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.25s ease-in;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 206;
    max-height: calc(100% - 20px);
    overflow-y: auto;
    &.active {
      transform: translateY(0%);
    }
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #d8d8d8;
      border-radius: 20px;
    }
  }

  .subtitle {
    text-align: center;
    margin-bottom: 22px;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .card {
    border: none;
    height: max-content;
    padding: 0;
  }
  .label {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
  }
  .item {
    margin-bottom: 25px;
  }
  .items {
    .item:last-child {
      max-width: 121px;
    }
  }
}
