.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #d8d8d8;
  padding: 3px;
}

.block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 5px;
  border-radius: 30px;
  color: #808080;
  transition: all 0.25s ease-in;
  cursor: pointer;
  text-align: center;
  &:hover {
    color: #5bb75f;
  }
  &.active {
    background: #5bb75f;
    color: #fff;
  }
}

@media (max-width: 998px) and (min-width: 769px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }
}
