.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in;
  color: #808080;
  cursor: pointer;
  padding: 10px 0;
  width: max-content;
  margin: 20px auto 0;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
  path {
    stroke: #808080;
  }
  &:hover {
    color: #5bb75f;
    path {
      stroke: #5bb75f;
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-grow: 1;
    height: auto;
  }
  .top {
    text-align: center;
    position: relative;
    padding: 9px 60px;
    margin-bottom: 25px;
  }

  .main {
    gap: 10px;
  }
  .subtitle {
    margin-bottom: 6px;
  }
}
