.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bottom {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.button {
  width: 100%;
}
