.container {
  border-radius: 25px;
  background: #f5f5f7;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.oldPrice {
  color: var(--secondary-orange, #ff5a27);
  text-decoration-line: line-through;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .container {
    padding: 15px 20px;
    gap: 22px;
  }
}
