.container {
  border-radius: 15px;
  background: #ebfaec;
  padding: 44px 30px;
}

.list {
  list-style: auto;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  li {
    color: #808080;
    padding-left: 5px;
  }
}

@media (max-width: 998px) {
  .container {
    // flex-direction: column;
    // background: transparent;
    padding: 20px 20px;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    background: transparent;
    padding: 0;
    margin-top: 0;
  }
  .title {
    font-size: 24px;
    line-height: 32px;
  }
  .list {
    margin-top: 15px;
    gap: 10px;
  }
}
