.container {
  padding-top: 130px;
  overflow: hidden;
}

.blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px -20px -40px;
  gap: 40px;
}
.block {
  width: calc(14.285% - 40px);
  // max-width: 160px;
  margin-bottom: 40px;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // transition: color 0.25s ease-in;
  color: #808080;
  margin-top: 48px;
  white-space: nowrap;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in;
    margin-left: 8px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  @media (max-width: 768px) {
    .icon {
      transform: rotate(-90deg);
    }
  }
  .open {
    transform: rotate(-180deg);
  }
  &:hover {
    color: #5bb75f;
    path {
      stroke: #5bb75f;
    }
  }
}

@media (max-width: 1300px) {
  .blocks {
    margin: 0px -10px -40px;
    gap: 20px;
  }
  .block {
    width: calc(16.666% - 20px);
    margin-bottom: 20px;
  }
}
@media (max-width: 998px) {
  .block {
    width: calc(20% - 20px);
  }
}
@media (max-width: 768px) {
  .container {
    padding-top: 25px;
    padding-bottom: 5px;
  }
  .wrapper {
    padding: 0;
  }
  .blocks {
    flex-wrap: nowrap;
    overflow-y: auto;
    padding: 0 20px 20px;
    justify-content: flex-start;
    gap: 10px;
    margin: 0;
  }
  .all {
    margin-top: 0;
    margin-left: 15px;
  }
  .title {
    margin-bottom: 0;
  }
  .top {
    margin-bottom: 15px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .block {
    min-width: 100px;
    max-width: 100px;
    margin-bottom: 0;
  }
}

@media (max-width: 374px) {
  .top {
    padding: 0 10px;
  }

  .blocks {
    padding: 0 10px 20px;
  }
}
