.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  input {
    display: none;
    &:checked + .block {
      border-color: #5bb75f;
      border-width: 6px;
    }
  }
  &:hover {
    .block {
      border-color: #5bb75f;
    }
  }
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: #000;
  text-align: left;
  a {
    cursor: pointer;
    color: #5bb75f;
  }
}

.block {
  min-width: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
