.container {
  border-top: 1px solid #d8d8d8;
  padding: 40px 0 84px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.block {
  max-width: 244px;
  width: 100%;
}

.copyright {
  color: #808080;
}

.title {
  margin-bottom: 30px;
}

.item {
  margin-bottom: 10px;
}

.qrcode {
  max-width: 146px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #808080;
}
