.container {
  border-radius: 25px;
  border: 1px solid #f5f5f7;
  // padding: 15px 17px;
  // display: flex;
  // justify-content: space-between;
  // gap: 10px;
  transition: all 0.25s ease-in;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &.isNew {
    .block {
      background: #e1f2ff;
      border-color: #e1f2ff;
    }
  }
  &:hover {
    .block {
      background: #f5f5f7;
      border-color: #f5f5f7;
    }
  }
  &.active {
    .block {
      background: #ebfaec;
      border-color: #ebfaec;
    }
  }
}

.del {
  position: absolute;
  top: 1px;
  right: 0;
  background: #ff5a27;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translateX(60px);
  transition: all 0.25s ease-in;
  svg {
    width: 24px;
    height: 24px;
  }
  path {
    stroke: #fff;
  }
}

.block {
  padding: 15px 17px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  transition: all 0.25s ease-in;
  cursor: pointer;
  position: relative;
  background: #fff;
}

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.name {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #808080;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #000;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.time {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #808080;
}

.new {
  padding: 2px 4px;
  border-radius: 50px;
  background: #ff5a27;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  margin-left: auto;
}
