.container {
  display: grid;
  gap: 15px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-align: center;
  &.active {
    path {
      fill: #5bb75f;
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clean {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s ease-in;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  path {
    stroke: #000;
  }
  &:hover {
    color: #5bb75f;
    path {
      stroke: #5bb75f;
    }
  }
}
