.section {
  padding: 0;
  @media (min-width: 769px) {
    margin-bottom: -40px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.map {
  height: calc(100vh - 80px);
  min-width: calc(50% - 10px);
  background: beige;
  position: sticky;
  top: 80px;
  z-index: 20;
  &.open {
    min-width: calc(100% - 345px);
    .button {
      transform: rotate(-90deg);
    }
  }
}

.mapBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: red;
}

.showMap {
  position: absolute;
  top: 42px;
  right: 20px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-left: 20px;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 24px;
    height: 24px;
  }
  path {
    stroke: #808080;
  }
  &:hover {
    path {
      stroke: #000;
    }
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 0;
  }

  .map {
    display: none;
    width: 100%;
    height: calc(100vh - 52px);
    &.open {
      display: block;
    }
  }

  .button {
    display: none;
  }

  .back {
    padding: 0;
    width: 60px;
    position: static;
    transform: none;
    span {
      margin-right: 8px;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.3px;
    text-align: center;
  }

  .top {
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: relative;
    padding: 9px 0px;
  }

  .actions {
    margin-left: 0;
    width: 60px;
    gap: 10px;
    svg {
      width: 20px !important;
      height: 20px !important;
    }
    path {
      stroke: #000;
    }
  }

  .share {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .mapBlock {
    left: -20px;
    width: calc(100% + 40px) !important;
  }
}

@media (max-width: 374px) {
  .mapBlock {
    left: -10px;
    width: calc(100% + 20px) !important;
  }
}
