.section {
  padding: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.main {
  // width: 50%;
  width: 100%;
  padding: 30px 0px 40px 0;
  position: relative;
}

.map {
  height: calc(100vh - 80px);
  min-width: calc(50% - 10px);
  background: beige;
  position: sticky;
  top: 80px;
  z-index: 20;
  &.open {
    min-width: calc(100% - 345px);
    .button {
      transform: rotate(-90deg);
    }
  }
}

.mapBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: red;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 40px;
  border-radius: 30px;
  border: 1px solid var(--neutrals-stroke-gray, #d8d8d8);
  background: #fff;
  padding: 9px;
  top: 120px;
  z-index: 20;
  transform: rotate(90deg);
  margin-left: -20px;
  transition: all 0.25s ease-in;
  cursor: pointer;
  path {
    stroke: #000;
  }
  &:hover {
    box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
  }
}

.showMap {
  position: absolute;
  top: 42px;
  right: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.back {
  position: static;
  transform: none;
  padding: 12px 0;

  span {
    margin-right: 8px;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}

.ads {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: #808080;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-left: 20px;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 24px;
    height: 24px;
  }
  path {
    stroke: #808080;
  }
  &:hover {
    path {
      stroke: #000;
    }
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

// .product {
//   max-width: 296px;
//   width: 100%;
//   flex-grow: 1;
//   border-radius: 25px;
//   box-shadow: 0 45px 40px 0 rgba(21, 40, 61, 0.1);
// }
