.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.item {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

@media (hover: hover) {
  .link:hover {
    color: #38953c;
  }
}

.icon {
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 20px;
    height: 20px;
  }
}

.link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.noLink {
  color: #38953c;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
