.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  padding: 7px 2px;
}

.column {
  columns: 2;
}

.list {
  max-height: 272px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    border-radius: 20px;
  }
}

// .noresult {
//   color: #38953c;
// }
