.container {
  position: relative;
  input {
    padding-right: 42px !important;
  }
  &:not(.copy) {
    input {
      color: #808080;
      border-color: #d8d8d8;
    }
  }
}

.button {
  background: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
