.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: -20px;
  &.isHorizontal {
    margin-right: 0;
    .block {
      width: 100%;
      margin-right: 0;
      max-width: 100%;
    }
  }
}

.block {
  width: calc(33.333% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 325px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  min-height: 40px;
}

.selected {
  cursor: pointer;
  margin-right: 20px;
}

.filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.filterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 30px;
  transition: all 0.25s ease-in;
  cursor: pointer;
  path {
    stroke: #808080;
  }
  &:hover {
    box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
  }
  &.active {
    background: #ebfaec;
    border-color: #ebfaec;
    path {
      stroke: #000;
    }
  }
}

.sort {
  max-width: 164px;
  min-width: 164px;
  display: flex;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in;
  color: #808080;
  cursor: pointer;
  padding: 10px 0;
  width: max-content;
  margin: 20px auto 0;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
  path {
    stroke: #808080;
  }
  &:hover {
    color: #5bb75f;
    path {
      stroke: #5bb75f;
    }
  }
  svg {
    width: 24px;
    height: 24px;
  }
}

.deleteSelected {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  color: #5bb75f;
  padding: 5px 0 !important;
  transition: none;
  background: transparent;
  path {
    stroke: #5bb75f;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

@media (max-width: 950px) {
  .block {
    width: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .container {
    flex-grow: 1;
    height: auto;
  }
  .top {
    text-align: center;
    position: relative;
    padding: 4px 60px;
    margin-bottom: 30px;
  }
  .info {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .main {
    margin-right: 0;
  }
  .block {
    width: 100%;
    margin: 0 auto 20px;
  }
}
