.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
  max-width: 670px;
  // border-radius: 15px;
  // border: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.info {
  width: 100%;
  height: 100%;
  max-width: 325px;
}

.addNew {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  color: #5bb75f;
  padding: 5px 0 !important;
  transition: none;
  path {
    stroke: #5bb75f;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

@media (max-width: 998px) {
  .info {
    max-width: none;
  }
  .container {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 768px) {
  .top {
    text-align: center;
    position: relative;
    padding: 4px 60px;
    // margin-bottom: 25px;
  }
  .title {
    min-height: 22px;
  }
}
