// @import "../authorization.module.scss";

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  animation-name: showBlock;
  animation-duration: 0.7s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  height: max-content;
}

.logo {
  display: none;
}

.text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #808080;
  span {
    color: #5bb75f;
    cursor: pointer;
  }
  b {
    margin-left: 5px;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
  }
}

.form {
  margin-top: 20px;
}

.item {
  margin-bottom: 15px;
}

.items {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.forgot {
  color: #808080;
  margin-top: -5px;
}

.phone {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.code {
  max-width: 148px;
  width: 100%;
}

.number {
  width: 100%;
}

.terms {
  margin-top: 17px;
}

.button {
  width: 100%;
  margin-top: 22px;
}

.subtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.description {
  margin-top: 15px;
  color: #808080;
}

.button {
  path {
    stroke: #fff;
  }
}
.openProfile {
  display: none;
}

@keyframes showBlock {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  .socials {
    flex-direction: column;
    gap: 10px;
  }
  .social {
    max-width: none;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .item {
    margin-bottom: 10px;
  }
  .items {
    flex-direction: column;
    gap: 0;
  }

  .openProfile {
    margin: 40px auto 0;
    display: flex;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    margin-top: 5px;
  }
  .form {
    margin-top: 15px;
  }
  .code {
    max-width: 114px;
  }
  .phone {
    gap: 5px;
  }
  .terms {
    margin-top: 17px;
  }
  .button {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    margin-top: 16px;
  }

  .subtitle {
    margin-top: 26px;
  }
  .description {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
  }
}
