.label {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
  display: inline-block;
}

.block {
  position: relative;
}

.isSmall {
  .input {
    padding: 7px 14px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.3px;
    border-radius: 20px;
    &::placeholder {
      font-size: 14px;
      line-height: 26px;
      letter-spacing: -0.3px;
    }
  }
}

.selected {
  .input {
    padding: 7px 41px 7px 14px;
    border-radius: 20px;
  }
  .errorIcon {
    right: 10px;
    top: auto;
    bottom: 8px;
  }
}

.errorInput {
  border-color: #ff5a27;
}

.input {
  width: 100%;
  border-radius: 25px;
  border: 1px solid #d8d8d8;
  padding: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: all 0.25s ease-in;
  resize: none;
  &:not(:placeholder-shown) {
    border-color: black;
  }
  @media (min-width: 769px) {
    &:hover {
      box-shadow: 0px 20px 40px 0px rgba(21, 40, 61, 0.15);
      border-color: transparent;
    }
  }

  &:focus {
    border-color: #38953c;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #808080;
  }
  @media (max-width: 768px) {
    padding: 9px 14px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.3px;
    }
  }
}

.errorInput {
  border-color: #ff5a27 !important;
}

.errorIcon {
  position: absolute;
  top: 18px;
  right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    .toolError {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .errorIcon {
    top: 9px;
    right: 10px;
  }
}

.toolError {
  position: absolute;
  top: 100%;
  right: 0%;
  width: max-content;
  color: #fff;
  border-radius: 9px;
  background: var(--neutrals-black, #000);
  padding: 5px 10px;
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s ease-in;
}
