.block {
  min-height: 493px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 25px;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  padding: 86px 30px 86px;
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

@media (max-width: 998px) {
  .container {
    min-height: 350px;
    padding: 40px 20px 40px;
  }
}

@media (max-width: 768px) {
  .container {
    min-height: 295px;
    padding: 40px 20px 55px;
    background-position: center bottom;
  }
}
