.block {
  border-radius: 10px 10px 10px 0px;
  background: #fff;
  // width: max-content;
  max-width: 470px;
  width: fit-content;
  padding: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.3px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.isUser {
  .block {
    border-radius: 10px 10px 0px 10px;
    background: #5bb75f;
    margin-left: auto;
    color: #fff;
  }
  .description {
    justify-content: flex-end;
  }
  &.error {
    .block {
      background: #ff5a27;
    }
  }
  .images {
    margin-left: auto;
  }
}

.description {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  gap: 8px;
  margin-top: 5px;
  p:first-child {
    position: relative;
    padding-right: 12px;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: calc(50% - 2px);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #808080;
    }
  }
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  color: #808080;
}

.images {
  max-width: 376px;
  display: grid;
  grid-auto-rows: minmax(auto, 220px);
  grid-auto-columns: minmax(auto, 368px);
  gap: 8px;
  &.even {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(auto, 106px);
  }
  &.two {
    grid-auto-rows: minmax(auto, 220px);
  }
  &.three {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(auto, 106px);
    .image:first-child {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  img {
    object-fit: contain;
    max-width: none;
  }
}
