.container {
  border-radius: 10px 10px 0px 10px;
  background: #5bb75f;
  margin-left: auto;
  max-width: 470px;
  width: max-content;
  padding: 12px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.3px;
}
